@font-face {
    font-family: Netbus;
    src: url(fonts/Netbus.woff);
    font-weight: normal;
}

@font-face {
    font-family: Arial;
    src: url(fonts/ArialNarrow.ttf);
    font-stretch: condensed;
}

@font-face {
    font-family: Arial;
    src: url(fonts/ArialNarrow-Bold.ttf);
    font-stretch: condensed;
    font-weight: bold;
}

@font-face {
    font-family: Arial;
    src: url(fonts/ArialNarrow-Italic.ttf);
    font-stretch: condensed;
    font-style: italic;
}

html, body {
    font-family: Arial;
    font-stretch: condensed;
    color: #fff;
    font-size: 24px;
    margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #000;
}

/* HEADER */
.banner {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 48;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

#bannerTitle {
  display: none;
  font-family: Netbus;
  font-weight: bold;
  font-size: 4vh;
  margin: 10px;
  z-index: 52;
  width: 25vw;
}

#titleSection {
  margin: 35vh 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleSection img {
    width: 50vw;
}

#wecVid {
  margin: 40vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 960px;
  height: 540px;
}

iframe:hover {
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
 filter: drop-shadow(0rem 0rem 0.5rem #fff);
}

@media only screen
  and (max-width: 1000px)
{
  #wecVid {
    margin-top: 20vh;
  }

  iframe {
    width: 320px;
    height: 180px;
  }
}

#allSections {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textSection {
  margin-top: 20vh;
  display: block;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
}

.textSection p {
  width: 42vw;
  color: #fff;
  font-family: Arial;
  font-stretch: condensed;
  font-size: 2.4vh;
  z-index: 2;
}

@media only screen
  and (max-width: 500px)
{
  .textSection {
    width: 100vw;
    margin-top: 0vh;
  }

  .textSection p {
    width: 85%;
    font-size: 4vw;
    align-self: center;
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

a {
  z-index: 50;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

/* Fade-In Effect */
.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in;
}
/* Fade-Out Effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

.mobileHide {
  display: none;
}

#points {
  position: fixed;
  z-index: -5;
  max-height: auto;
  width: 80vw;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
}
